@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.fa-brands {
  width: 26px;
  height: 26px;
  padding: 5px;
  gap: 10px;
  color: white;
}
.fa-solid {
  /* background-color: red; */
  padding: 15px;
}
h6 {
  font-weight: 700 !important;
  color: #ffffff;
  font-family: sans-serif !important;
  font-size: 14px !important;
}
h3 {
  font-weight: 700 !important;
  font-size: 24px;
  line-height: 32px;
}
li {
  font-weight: 700;
  font-size: 14px;
}
.landig-bg {
  background-image: url("/images/hero1.jpg");
}

.shopcard-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 240px));
  grid-template-rows: repeat(1, minmax(500px, 500px));
  gap: 20px;
  margin-top: 30px;
}

.item-1 {
  grid-column: 1/3;
  background-image: url("/images/img-1.png");
}
.item-2 {
  background-image: url("/images/img-2.png");
}
.item-3 {
  grid-column: 4/5;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, minmax(240px, 240px));
  gap: 20px;
}
.item-3-1 {
  background-image: url("/images/img-3-1.png");
}
.item-3-2 {
  background-image: url("/images/img-3-2.png");
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 240px));
  grid-template-rows: repeat(2, minmax(615px, 615px));
}

.featured-grid-item-1 {
  background-image: url("/images/img-3-2.png");
}
